// VARIABLES 

$base-font: 'Lato', sans-serif;
$header-font: 'Josefin Slab', serif;

$body: #333;
$primary: #6056f9;
$secondary: #cfff31;
$background: #e3f4f3;

@mixin button ($size) {
    color: $background;
    background-color: $primary;
    box-shadow: #cfff31 7px 7px 1px;
    padding: .4em 1em;
    font-family: $base-font;
    font-size: $size;
    border: none;
    cursor: pointer;
}

@mixin h1 {
    font-family: $header-font;
    text-transform: uppercase;
}

@mixin h3 ($size) {
    font-family: $base-font;
    font-size: $size;
}

@mixin body-font {
    font-family: $base-font;
    letter-spacing: 1.4px;
}

@mixin background {
    background-color: $background;
}

@mixin darkBoxShadow {
    box-shadow: #e6e6e6 15px 15px;
}