html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Josefin Slab", serif;
  text-transform: uppercase;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
}

.gameContainer {
  text-align: center;
  padding: 2rem;
  background-color: #e3f4f3;
  box-shadow: #e6e6e6 15px 15px;
  text-align: center;
}

.definitionContainer {
  border: #cfff31 8px solid;
}

.scoreContainer {
  background-color: #cfff31;
  padding: 0.5em;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #6056f9;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Josefin Slab", serif;
  text-transform: uppercase;
  text-align: left;
  margin: 40px auto;
  width: 50%;
  z-index: 20;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
}

h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 2px;
  border-bottom: #cfff31 5px solid;
}

.gameFlex {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

header {
  background-image: url(../assets/hexagonal-pattern.png);
  height: 40vh;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.headerContainer {
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.headerContainer::before {
  content: "";
  background-image: linear-gradient(to bottom right, #6056f9, #e3f4f3, #cfff31);
  opacity: 0.85;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gameContainer {
  text-align: center;
  padding: 12rem 2rem;
  background-color: #e3f4f3;
  box-shadow: #e6e6e6 15px 15px;
  text-align: center;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreContainer {
  background-color: #cfff31;
  padding: 0.5em;
  width: 15%;
  min-width: 100px;
  margin: 0 auto;
  font-weight: bold;
}

.definitionContainer {
  border: #cfff31 8px solid;
  width: 62%;
  min-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 260px;
}

.wordsContainer {
  width: 20%;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.counter {
  font-weight: 700;
  margin-bottom: 5px;
}

.leaderboard {
  background-color: #e3f4f3;
  box-shadow: #e6e6e6 15px 15px;
  flex-basis: 30%;
}
.leaderboard h2 {
  text-align: center;
}

.leaderboard ul {
  background: #cfff31;
  border: 8px solid #6056f9;
  height: 80%;
  margin: 15px;
}
.leaderboard ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

footer {
  padding: 2rem 0;
}
